<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header class="header">
        <div class="header-inner">
            <div class="logo">Мой Не Сам</div>

            <nav class="nav">
                <a href="/register">Регистрация</a>
                <a href="/login">Вход</a>
            </nav>
        </div>
    </header>

    <main class="container">
        <section class="form-card">
            <h1>Вход</h1>

            {{message}}

            <form method="POST" action="/login">
                <label for="login">Логин</label>
                <input id="login" type="text" name="login" required>

                <label for="password">Пароль</label>
                <input id="password" type="password" name="password" required>

                <button class="btn" type="submit">Войти</button>
            </form>

            <div class="login-link">
                Нет аккаунта? <a href="/register">Зарегистрироваться</a>
            </div>

            <div class="login-link">
                Администратор: <b>adminka</b> / <b>password</b>
            </div>
        </section>
    </main>
</body>
</html>
